<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPTMiniLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SPTMiniLauncher.Properties.Settings>
            <setting name="server_path" serializeAs="String">
                <value />
            </setting>
            <setting name="profile_editor_path" serializeAs="String">
                <value />
            </setting>
            <setting name="svm_path" serializeAs="String">
                <value />
            </setting>
            <setting name="realism_path" serializeAs="String">
                <value />
            </setting>
            <setting name="loe_path" serializeAs="String">
                <value />
            </setting>
            <setting name="hideOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timedLauncherToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearCache" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstTimeMessage" serializeAs="String">
                <value>
Welcome to my SPT Launcher!
It looks like it's your first time running this launcher, or you just downloaded a new update of it.

This tool has quite a few features. Via the interface you can do the following:

- Launch SPT
  Includes various customizable options

- Quit and exit SPT

- Clear cache

- Open the control panel
  This serves as a navigation hub for various important locations and files

- Open client and server mods folders

- Open server folder

- Open the load order file (post-3.5 installations only)
  Load Order Editor manages this for you (third party app)

- Manage mods
  Client mods can only be viewed and removed.
  Server mods can be viewed, removed and added.
  
- Launch Load Order Editor (if detected)
- Launch Profile Editor (if detected)
- Launch SVM (if detected)
- Launch SPT Realism (if detected)</value>
            </setting>
            <setting name="startDetector" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="endDetector" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="openLogOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="displayConfirmationMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="altCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverOutputting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverErrorMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tarkovDetector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeControlPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentProfileAID" serializeAs="String">
                <value />
            </setting>
            <setting name="bypassLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="portChecking" serializeAs="String">
                <value>0</value>
            </setting>
        </SPTMiniLauncher.Properties.Settings>
    </userSettings>
</configuration>